*{

}

.Logo{
  width: 400px;
  margin-left: 5%;
  margin-top: 1%;
}

h4{
  color: #595959;
  margin-left: 6%;
  font-family:'Roboto', sans-serif;
  font-size: 1.5rem;
}

.atv{
  margin-left: 7%;
  margin-top: 4%;
}

.atv h1{
  color: #92d050;
  font-family:'Roboto', sans-serif;
  font-size: 3.8rem;
}

.atv p{
  color: #a3a3a3;
  font-family:'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 1.5%;
}
